body {
    background-image: url(../img/goslingsxsw.jpg);
    background-size: cover;
    background-attachment: fixed;
    color:blueviolet;
}

h1, p, h3 {
    color:blanchedalmond;
    font-family: Papyrus, fantasy;
}

p {
    font-size: 3rem;
    font-weight: 400;
    color: fuchsia;
}

h1 {
    font-size: 5rem;
}

nav{
    margin-right: 25%;
    margin-left: 75%;
    background-image: url(../img/RyanGosling.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 0;
}

nav a:hover {
    background-color: papayawhip;
    color: red;
    width:150px;
}

nav a {
    color: inherit
}

main{
    width: 650px;
    margin-right: 400px;
    margin-left: 200px;
    color: brown;
    font-size: larger;
}

section{
    background-image: url(../img/the\ gos.webp);
    background-size: contain;
    margin-top: 100px;
    text-align: center;
    padding: 15px
    
}

section img{
    border-radius: 15px;
    padding: 5px;

}

footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
