body {
    background-image: url(../img/goslingsxsw.jpg);
    background-size: cover;
    background-attachment: fixed;
    color:blueviolet;
}

h1 {
    color:blanchedalmond;
    font-family: Papyrus, fantasy;
}

main{
    width: 300px;
    margin-left: 500px;
    color: brown;
    font-size: larger;
}

section{
    background-color: #FFF4FF;
    background: rgba(211, 183, 196, 0.85);
    border: 5px #A66060 solid;
    border-radius: 15px 75px;
    margin-top: 100px;
    text-align: center;
    padding: 15px
    
}

section img{
    border: 5px #A66060 dashed;
    border-radius: 15px;
    padding: 5px;

}